.title{
    padding-left: 25px; 
    font-size: 2rem;
    font-family: 'PT Sans' sans-serif;
    color: #fff;
    margin-bottom: 20px;
    padding-top: 10px;
  }

  .subtitle{
    font-size: 1.2rem;
    font-family: 'PT Sans' sans-serif;
    color: #fff;
    margin-bottom: 20px;
  }